<header class="site-header">


  <nav class="nav" aria-label="Primary">
    <div class="nav-links nav-links--left">
      <a class="nav-link" href="https://strawby.github.io/ihs-website/">Home</a>

      <div class="nav-item">
        <button class="nav-toggle" type="button" aria-expanded="false">Hot Springs</button>
        <div class="nav-menu" hidden>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/pool">Mineral Water Swimming Pool</a>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/caves">Men's &amp; Women's Caves</a>

          <div class="nav-item nav-item--nested">
            <button class="nav-toggle nav-menu-link nav-menu-heading" type="button" aria-expanded="false">Outdoor Tubs</button>
            <div class="nav-menu" hidden>
              <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/tubs">Soaking Tubs</a>
              <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/cedar-tubs">Cedar Tubs</a>
            </div>
          </div>

          <div class="nav-item nav-item--nested">
            <button class="nav-toggle nav-menu-link nav-menu-heading" type="button" aria-expanded="false">Indoor Private Baths</button>
            <div class="nav-menu" hidden>
              <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/baths/classic">Classic Private Baths</a>
              <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/baths/woodland">Woodland Private Baths</a>
            </div>
          </div>

          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/mud">Club Mud</a>
        </div>
      </div>

      <div class="nav-item">
        <button class="nav-toggle" type="button" aria-expanded="false">Resort</button>
        <div class="nav-menu" hidden>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/rooms-suites">Rooms &amp; Suites</a>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/rv-parking">RV Parking</a>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/gift-shop">Gift Shop</a>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/idaho-springs">Town of Idaho Springs</a>
          <a class="nav-menu-link" href="https://indianhotsprings.try.be/offerings/categories/68151747024f6c732b0e5ad4/special-events#results" target="_blank" rel="noreferrer">Events</a>
        </div>
      </div>

      <div class="nav-item">
        <button class="nav-toggle" type="button" aria-expanded="false">Spa</button>
        <div class="nav-menu" hidden>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/spa/massage">Massage</a>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/spa/facials">Esthetician</a>
        </div>
      </div>
    </div>

    <a class="brand" href="https://strawby.github.io/ihs-website/">
      <img src="https://strawby.github.io/ihs-website/media/ihs-logo-big.png" alt="Indian Hot Springs" />
    </a>

    <div class="nav-links nav-links--right">
      <a class="nav-link" href="https://strawby.github.io/ihs-website/hot-springs-pricing">Pricing</a>
      <a class="nav-link" href="https://strawby.github.io/ihs-website/hours">Hours</a>

      <div class="nav-item">
        <button class="nav-toggle" type="button" aria-expanded="false">About Us</button>
        <div class="nav-menu" hidden>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/calendar">Calendar</a>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/faq">Frequently Asked Questions</a>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/contact">Contact Us</a>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/history">History</a>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/gallery">Gallery</a>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/map">Map</a>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/geology">Geology</a>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/gift-card">Gift Card</a>
        </div>
      </div>

      <div class="nav-item">
        <button class="nav-toggle nav-button" type="button" aria-expanded="false">Book Now</button>
        <div class="nav-menu" hidden>
          <a class="nav-menu-link" href="https://ibe13.rmscloud.com/15311/90" target="_blank" rel="noreferrer">Rooms &amp; Suites</a>
          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/rv-parking/booking">RV Parking</a>

          <div class="nav-item nav-item--nested">
            <button class="nav-toggle nav-menu-link nav-menu-heading" type="button" aria-expanded="false">Outdoor Tubs</button>
            <div class="nav-menu" hidden>
              <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/tubs/booking">Soaking Tubs</a>
              <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/cedar-tubs/booking">Cedar Tubs</a>
            </div>
          </div>

          <div class="nav-item nav-item--nested">
            <button class="nav-toggle nav-menu-link nav-menu-heading" type="button" aria-expanded="false">Indoor Private Baths</button>
            <div class="nav-menu" hidden>
              <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/baths/classic/booking">Classic Private Baths</a>
              <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/baths/woodland">Woodland Private Baths</a>
            </div>
          </div>

          <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/caves/booking">Men's and Women's Caves (Weekends)</a>
          <a class="nav-menu-link" href="https://indianhotsprings.com/pool/booking" target="_blank" rel="noreferrer">Pool (Weekends)</a>

          <div class="nav-item nav-item--nested">
            <button class="nav-toggle" type="button" aria-expanded="false">Spa</button>
            <div class="nav-menu" hidden>
              <a class="nav-menu-link" href="https://strawby.github.io/ihs-website/spa/massage">Massage</a>
              <a class="nav-menu-link" href="https://strawby.github.io/spa/facials">Esthetician Services</a>
            </div>
          </div>

          <a class="nav-menu-link" href="https://indianhotsprings.try.be/offerings/categories/68151747024f6c732b0e5ad4/special-events#results" target="_blank" rel="noreferrer">Events</a>
        </div>
      </div>

      <button id="themeToggle" aria-label="Toggle theme">🌓</button>
    </div>
  </nav>


</header>